<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .cont {
      text-align: center;
      background-color: #ffffffbd;
      padding: 22px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
    }

    h1 {
      color: #ff0000;
    }
  </style>
</head>
<body>
  <div class="cont">
    <h1>Erro ao processar o recurso desejado</h1>
  </div>
</body>
</html>
