<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Página Inicial</title>
    </head>

    <body>
        
        <div class="container">
            <h1 class="title">Google-Books-API</h1>
            <button href="#" class="btn-sigin"> <img class="img-sigin" src="/google.jpg"> Logar com o Google</button>
        </div>

    </body>

</html>